build/ export-ignore
docs/ export-ignore
tests/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
phpunit.xml.dist export-ignore
.github/ export-ignore
src/CountryCodeToRegionCodeMapForTesting.php export-ignore
phpstan.neon.dist export-ignore
infection.json5 export-ignore

* text=auto
