<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
         executionOrder="default"
         failOnDeprecation="true"
         failOnEmptyTestSuite="true"
         failOnIncomplete="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./build/</directory>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./build/Commands/</directory>
      <directory suffix=".php">./src/data/</directory>
      <directory suffix=".php">./src/carrier/data/</directory>
      <directory suffix=".php">./src/geocoding/data/</directory>
      <directory suffix=".php">./src/timezone/data/</directory>
      <file>./build/build.php</file>
      <file>./build/BuildApplication.php</file>
      <file>./src/AlternateFormatsCountryCodeSet.php</file>
      <file>./src/CountryCodeToRegionCodeMap.php</file>
      <file>./src/CountryCodeToRegionCodeMapForTesting.php</file>
      <file>./src/RegionCode.php</file>
    </exclude>
  </source>
</phpunit>
