<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
         convertDeprecationsToExceptions="true"
         colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/data/</directory>
            <directory suffix=".php">./src/carrier/data/</directory>
            <directory suffix=".php">./src/geocoding/data/</directory>
            <directory suffix=".php">./src/timezone/data/</directory>
            <file>./src/AlternateFormatsCountryCodeSet.php</file>
            <file>./src/CountryCodeToRegionCodeMap.php</file>
            <file>./src/CountryCodeToRegionCodeMapForTesting.php</file>
            <file>./src/RegionCode.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
