<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite>
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <!-- Exclude data directories, and files -->
                <directory suffix=".php">./src/data/</directory>
                <directory suffix=".php">./src/carrier/data/</directory>
                <directory suffix=".php">./src/geocoding/data/</directory>
                <directory suffix=".php">./src/timezone/data/</directory>
                <file>./src/AlternateFormatsCountryCodeSet.php</file>
                <file>./src/CountryCodeToRegionCodeMap.php</file>
                <file>./src/CountryCodeToRegionCodeMapForTesting.php</file>
                <file>./src/RegionCode.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
